html {
    margin: 5px auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

body {
    background-color: #f4f4f4;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #E9EbEE;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    border-radius: 10px;
    user-select: none;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px #000;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_content img {
    border: 1px solid #0000002c;
}

h4 {
    padding: 0 5px;
    margin: 0;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 5px;
}

.appName {
    font-weight: lighter;
    font-style: italic;
}

.output {
    text-align: right;
    height: 80px;
    width: 100%;
    margin: 20px;
    border: 2px solid #f5e5e591;
    border-radius: 10px;
    background-color: #4268b3;
    overflow: hidden;
}

.answerScreen {
    margin: 0;
    color: #fff;
    font-size: 30px;
    padding: 25px 5px;
}

.keyBtns {
    display: grid;
    grid: repeat(5, 60px) / repeat(4, 60px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.btn {
    text-align: center;
    border-radius: 10px;
    background-color: #f8f8f8;
    color: #000;
    font-size: 22px;
    border: 2px solid #ccc;
    padding: 15px;
}

#funBtn {
    color: #ff8800;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #ff8800;
    color: #000;
}

#equal {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #ff8800;
    color: #000;
}

.btn:hover {
    box-shadow: inset 0px 0px 5px #000;
}